<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- Fonts -->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">


    <!--Styles-->
    <link rel="stylesheet" href="/styles/layout.css">

    <title>Home Page</title>

  </head>

  <body>
    <%- include('partials/_header') %>

    <main class="content">
      <div class="stories-container">

      </div>

        <div class="story-start">
          <h1>The Story So Far</h1>
          <div class="story">
            <p><%= storyContent %> </p>
          </div>
          <% if (user_id === created_by) { %>
          <form method="POST" action="/stories/<%= story_id %>/statusUpdate">
          <button type = "submit" class = "complete">completed!</button>
        </form>
        <% } %>
        </div>




        <div class="contributions-container">

          <main>
            <div class="container">
              <form method="POST" action="/stories/<%= story_id %>">
                <textarea class="newContribution" name="newContribution" placeholder="Start your story here..." rows="6"></textarea>
                <button type="submit" class="submit-button" >Post</button>
              </form>
            </div>
          </main>

          <h1>Contributions</h1>
          <% for (const each of contributions) {%>
            <div class="contribution">
              <header>
              </header>
               <p><%= each.contribution %></p>
               <hr>
              <footer>
                <p><%= each.contributed_at %></p>
                <p>&#x1F44D</p>
                <button>Upvote</button>
                <% if (user_id === created_by) { %>
                <form method="POST" action="/stories/<%= story_id %>/storyUpdate">
                <button>Add to story</button>
              </form>
              <% } %>
              </footer>
              </div>
              <% } %>
    </main>

  </body>
</html>
